﻿@model TP3_AFHBS.Models.Vehicule

@{
    ViewBag.Title = "Supprimmer";
}

<h2>Supprimmer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixVente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldePourcentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldePourcentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNeuf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNeuf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMiseEnVente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMiseEnVente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
