﻿@model TP3_AFHBS.Models.VehiculeViewModel

@{
    ViewBag.Title = "Détails";
}

<div>
    <p>

        @Html.ActionLink("Rétour au catalogue", "Index", null, new { @class = "btn btn-primary" })
    </p>



    <div class="row">
        <div class="col-md-6 text-left">
            <h4>@Html.DisplayFor(model => model.Marque) @Html.DisplayFor(model => model.Model)</h4>
        </div>
        <div class="col-md-6 text-right">
            @Html.ActionLink("Commander", "Create", "CommadeVehicules", new { id = Model.VehiculeID }, new { @class = "btn btn-success" })
        </div>
    </div>

    <hr />

    <div class="row mb-3">
        @foreach (TP3_AFHBS.Models.Image image in Model.Images)
        {
            <div class="col-md-4">
                <div class="card m-2 border-0">
                    <div class="card-img-caption">
                        <img class="card-img-top card-img-tp card-img-details" src="@image.ImageURL" />
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Model.SoldePourcentage != null && Model.SoldePourcentage > 0)
    {
        <h2>
            <span class="badge badge-secondary"><del>$@Html.DisplayFor(modelItem => Model.PrixVente)</del></span>
            <span class="badge badge-success"><b>$@Html.DisplayFor(modelItem => Model.PrixAvecSolde)</b></span>
        </h2>
    }
    else
    {
        <h2>
            <span class="badge badge-primary">$@Html.DisplayFor(modelItem => Model.PrixVente)</span>
        </h2>
    }

    <div class="row">
        <div class="col-md-12">
            <h4 class="d-inline-block">
                @if (Model.IsNeuf)
                {
                    <span class="badge badge-info p-1">Nouveau!</span>
                }
                else
                {
                    <span class="badge badge-info p-1">Usagé</span>
                }
            </h4>

            <h4 class="d-inline-block">
                <span class="badge badge-info p-1">@Html.DisplayFor(model => model.DateMiseEnVente)</span>
            </h4>
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    <p>
        @if ((string)Session[TP3_AFHBS.Models.SessionVariables.Type] == TP3_AFHBS.Models.UserTypes.Admin)
        {
            <span>@Html.ActionLink("Edit", "Edit", new { id = Model.VehiculeID }, new { @class = "btn btn-primary" })</span>
        }
    </p>
</div>

