﻿@model TP3_AFHBS.Models.Vehicule

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}

<hr/>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vehicule</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VehiculeID)

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Marque, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marque, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marque, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.PrixVente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrixVente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrixVente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.SoldePourcentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoldePourcentage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoldePourcentage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.IsNeuf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsNeuf)
                    @Html.ValidationMessageFor(model => model.IsNeuf, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.DateMiseEnVente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateMiseEnVente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateMiseEnVente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<hr />

<h3>Images</h3>

<div class="m-3 row">
    @foreach (TP3_AFHBS.Models.Image image in Model.Images)
    {

        <div id="IMG-@image.ImageID" class="col-md-4 d-flex flex-column justify-content-center mb-3">
            <img src=@image.ImageURL class="vehicule-image-edit w-100 h-auto mb-2" />
            <button class="btn btn-danger mt-auto" onclick="deleteImage(@image.ImageID)">Supprimer</button>
        </div>
    }
    <div class="col-md-4 w-100 h-100">
        <input id="dataImageURL" class="form-control w-100 mb-2 mw-100" placeholder="@Html.DisplayNameFor(x => x.Images.FirstOrDefault().ImageURL)" />
        <button id="btnAddImage" class="btn btn-success w-100">Ajouter</button>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function deleteImage(id) {
        console.log(id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Images")',
            data: '{id: ' + id + "}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                $("#IMG-" + id).remove();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(xhr.responseText);
            }
        });
    }

    function ajoutImage() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "Images")',
            data: '{ImageURL: "' + $("#btnAddImage") + '", VehiculeID : @Model.VehiculeID}',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(xhr.responseText);
            }
        })
    }
</script>
