﻿@model IEnumerable<TP3_AFHBS.Models.VehiculeViewModel>

@{
    ViewBag.Title = "Catalogue";
}

<h2 class="mb-3">Nos Vehicules</h2>

@if ((string)Session[TP3_AFHBS.Models.SessionVariables.Type] == TP3_AFHBS.Models.UserTypes.Admin)
{
    <p>
        @Html.ActionLink("Ajouter", "Create")
    </p>
}

<div class="jumbotron py-3">
    <h4>Recherche</h4>
    @using (Html.BeginForm("Index", "Vehicules", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-check my-2">
            <input class="form-check-input" id="imagePresent" name="ImagePresent" type="checkbox" />
            <label class="form-check-label" for="imagePresent">Seulement avec une image</label>
        </div>

        <div class="form-group">
            <input class="form-control" name="SearchTerm" type="text" placeholder="Recherche..." />
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    }
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card w-100 my-2">
                <div class="card-img-caption">
                    <div class="card-text card-img-tp d-flex align-items-center justify-content-center"></div>
                    <p class="caption-text">@item.Marque @item.Model</p>
                    @if (item.Images.FirstOrDefault() == null)
                    {
                        <img class="card-img-top card-img-tp" src="" />
                    }
                    else
                    {
                        <img class="card-img-top card-img-tp" src="@item.Images.FirstOrDefault().ImageURL" />
                    }
                </div>

                <div class="card-body">
                    @if (item.SoldePourcentage != null && item.SoldePourcentage > 0)
                    {
                        <h2>
                            <span class="badge badge-secondary"><del>$@Html.DisplayFor(modelItem => item.PrixVente)</del></span>
                            <span class="badge badge-success"><b>$@Html.DisplayFor(modelItem => item.PrixAvecSolde)</b></span>
                        </h2>
                    }
                    else
                    {
                        <h2>
                            <span class="badge badge-primary">$@Html.DisplayFor(modelItem => item.PrixVente)</span>
                        </h2>
                    }

                    <div class="row">
                        <div class="col-md-12 text-left">
                            @if (item.IsNeuf)
                            {
                                <span class="badge badge-info p-1">Nouveau!</span>
                            }
                            else
                            {
                                <span class="badge badge-info p-1">Usagé</span>
                            }
                            <span class="badge badge-info p-1">@Html.DisplayFor(modelItem => item.DateMiseEnVente)</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Détails", "Details", "Vehicules", new { id = item.VehiculeID }, new { @class = "btn btn-secondary float-right" })
                </div>
            </div>
        </div>
    }
</div>
