﻿@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <strong>Andrew Faulkner:</strong>   <a href="mailto:a.g.flknr@gmail.com">a.g.flknr@gmail.com</a><br />
    <strong>Hamdi Ben Slim:</strong> <a href="mailto:benslimhamdi@gmail.com">benslimhamdi@gmail.com</a>
</address>