﻿@model IEnumerable<TP3_AFHBS.Models.Image>
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Notre Catalogue ... Nos véhicules</h1>
    <p class="lead">Bienvenue dans notre catalogue de véhicules</p>
    <div class="row col-sm-2">
        @Html.ActionLink("GO", "Login", "Home", new { @class = "btn btn-warning btn-lg" })
    </div>
</div>

<div class="row mt-5 d-flex justify-content-between">

    @{
        //int r = 0;
        List<object> lst_url = new List<object>();
        foreach (var item in Model)
        {
            lst_url.Add(item.ImageURL.ToString());
        }
        Random rand = new Random();
        //for (int i = 0; i < 3; i++)
        //{
        //    r = rand.Next(lst_url.Count);

            @*<input value="@lst[r]" />*@

            @*<div class="col-3 mt-4" id="indexHomeImage">
                <img class="mw-100 w-100 rounded-pill imgVehicule" src="@/*lst_url[r]*/" />
            </div>*@
        //}
    }

</div>

<!--<img src="jspasactif.png" width="350" height="120" id="masuperimage" />-->

<div class="row mb-3 d-flex justify-content-md-between">
    <div class="col-md-4">
        <div class="card m-2 border-0">
            <div class="card-img-caption d-flex justify-content-between">
                <img class="mr-lg-5 mw-100 w-100 rounded-pill imgVehicule col-4" src="@lst_url[0]" id="masuperimage" />
                <img class="mr-lg-5 mw-100 w-100 rounded-pill imgVehicule col-4" src="@lst_url[0]" id="masuperimage2" />
                <img class="mr-lg-5 mw-100 w-100 rounded-pill imgVehicule col-4" src="@lst_url[0]" id="masuperimage3" />
            </div>
        </div>
    </div>
</div>

<SCRIPT language="JavaScript" type="text/javascript">

        // Un tableau qui va contenir toutes tes images.
        var images = new Array();
        var r2;

        @foreach(var imageUrl in lst_url)
        {
            <text>
                images.push("@imageUrl");
            </text>
        }


        //images.push("https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fimg.yauto.cz%2Fphotos%2F8%2F2785604%2FSkoda_Felicia_1_3I_SERVO_BLACK.jpg&sp=d18364924906b02dddf8a4fa635649bb");
        //images.push("https://carsot.com/images/ford-focus-i-1998-2001-station-wagon-5-door-exterior.jpg");

        var index = 0;

        function ChangerImage() {
            index = Math.floor(Math.random() * @lst_url.Count);

            console.log(index);

            document.getElementById("masuperimage").src = images[index];
        }

        function ChangerImage2() {
            index = Math.floor(Math.random() * @lst_url.Count);

            console.log(index);

           document.getElementById("masuperimage2").src = images[index];
        }

         function ChangerImage3() {
            index = Math.floor(Math.random() * @lst_url.Count);

            console.log(index);

           document.getElementById("masuperimage3").src = images[index];
        }

        // Charge la fonction
        window.onload = function () {
            console.log("Length : " + @lst_url.Count);

            this.ChangerImage();
            this.setInterval(this.ChangerImage, 1500);
            this.setInterval(this.ChangerImage2, 2000);
            this.setInterval(this.ChangerImage3, 2500)
        }
</SCRIPT>
