﻿@model TP3_AFHBS.Models.UserViewModel

@{
    ViewBag.Title = "Interface Administrateur";
}

    <h2>Interface Administrateur</h2>

<div>
    <h5 class="mt-4 text-info">Résumé de vos données </h5>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserName }) |
    @Html.ActionLink("Go Back", "NewConnexion", "Home")<!--, "Details","Users" -->
  
</p>
