﻿@model TP3_AFHBS.Models.User
    @*User remplace UserViewModel *@

@{
    ViewBag.Title = "Supprimmer";
}

<h2>Supprimmer</h2>

<h5 class="mt-4 text-danger"><span class="border-bottom border-danger">Are you sure you want to delete this client ?</span></h5>
<div>
    <h5 class="mt-4 text-info">Compte utilisateur</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-none">
            @Html.DisplayNameFor(model => model.MdpHash)
        </dt>

        <dd class="d-none">
            @Html.DisplayFor(model => model.MdpHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
