﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Catalogue de vehicules", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Véhicules", "Index", "Vehicules", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mes Commandes", "Index", "Commandes", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mon Profil", "Details", "Users", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
            @if (Session["UserName"] != null)
            {
                @Html.ActionLink("Deconnexion", "NewConnexion", "Home", null, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Connexion", "Login", "Home", new { @class = "btn btn-success" })
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TP3 Programation Orientée Objet 4</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
