﻿@model TP3_AFHBS.Models.CommadeVehicule

@{
    ViewBag.Title = "Commande";
}

@using (Html.BeginForm("Create", "CommadeVehicules", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Votre Commande</h4>
        <hr />

        @if ((string)Session[TP3_AFHBS.Models.SessionVariables.Type] == TP3_AFHBS.Models.UserTypes.Admin)
        {
            <div class="d-flex justify-content-start mt-2">
                <label class="col-md-2">Client username</label>
                <div class="col-md-10">
                    @Html.DropDownList("UserName", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        }

        @Html.EditorFor(model => model.VehiculeID, new { htmlAttributes = new { @class = "d-none" } })

        <dl>
            <dt>
                Vehicule
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vehicule.Marque) @Html.DisplayFor(model => model.Vehicule.Model)
            </dd>

            <dt>
                Prix
            </dt>
            <dd>
                @{
                    var result = (Model.Vehicule.SoldePourcentage == null ? Model.Vehicule.PrixVente : Model.Vehicule.PrixVente * ((100 - Model.Vehicule.SoldePourcentage) / 100));
                    <span id="prixDisplay">$@result</span>
                }
            </dd>
        </dl>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Quantite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            <label class="control-label col-md-2">Options</label>
            <div class="col-md-10">
                @Html.ListBox("Options", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmer" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        document.querySelector("#Quantite").onchange = function () {
            console.log("hi");
            var prixTotal = document.querySelector("#Quantite").value * @ViewBag.Prix.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-GB")) ;
            document.querySelector("#prixDisplay").innerHTML = "$" + prixTotal.toFixed(2);
        }
    </script>
}
