﻿@model TP3_AFHBS.Models.Commande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>

<div class="row">
    @foreach (var cv in Model.CommadeVehicules)
    {
        <div class="col-md-4">
            <div class="card w-100 my-2">
                <div class="card-img-caption">
                    <div class="card-text card-img-tp d-flex align-items-center justify-content-center"></div>
                    <p class="caption-text">@cv.Vehicule.Marque @cv.Vehicule.Model</p>
                    @if (cv.Vehicule.Images.FirstOrDefault() == null)
                    {
                        <img class="card-img-top card-img-tp" src="" />
                    }
                    else
                    {
                        <img class="card-img-top card-img-tp" src="@cv.Vehicule.Images.FirstOrDefault().ImageURL" />
                    }
                </div>

                <div class="card-body d-flex flex-wrap">
                    <span class="badge badge-info m-1 p-1">
                        $@{
                            var result = String.Format("{0:0.00}", (cv.Vehicule.PrixVente * (cv.Vehicule.SoldePourcentage == null ? 1 : (100 - cv.Vehicule.SoldePourcentage.Value) / 100)));
                            <span>@result</span>
                        }
                    </span>
                    <span class="badge badge-info m-1 p-1">Quantite: @cv.Quantite</span>
                    @foreach (var opt in cv.OptionCommandes)
                    {
                        <span class="badge badge-info m-1 p-1">@opt.Option.Description</span>
                    }

                </div>

            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
