﻿@model TP3_AFHBS.Models.Commande

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Commande</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CommandeID)


        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.CommandeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CommandeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CommandeID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.Statut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="mb-2">
                    @Html.DisplayFor(model => model.Statut)
                </div>
                @Html.DropDownList("Statut", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Statut, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="d-flex justify-content-start mt-2">
            @Html.LabelFor(model => model.ModePaiement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="mb-2">
                    @Html.DisplayFor(model => model.ModePaiement)
                </div>
                @Html.DropDownList("ModePaiement", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModePaiement, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </div>

    </div>
}

<div class="row">
    @foreach (var cv in Model.CommadeVehicules)
    {
        <div class="col-md-4">
            <div class="card w-100 my-2">
                <div class="card-img-caption">
                    <div class="card-text card-img-tp d-flex align-items-center justify-content-center"></div>
                    <p class="caption-text">@cv.Vehicule.Marque @cv.Vehicule.Model</p>
                    @if (cv.Vehicule.Images.FirstOrDefault() == null)
                    {
                        <img class="card-img-top card-img-tp" src="" />
                    }
                    else
                    {
                        <img class="card-img-top card-img-tp" src="@cv.Vehicule.Images.FirstOrDefault().ImageURL" />
                    }
                </div>

                <div class="card-body d-flex flex-wrap">
                    <span class="badge badge-info m-1 p-1">
                        $@{
                            var result = String.Format("{0:0.00}", (cv.Vehicule.PrixVente * (cv.Vehicule.SoldePourcentage == null ? 1 : (100 - cv.Vehicule.SoldePourcentage.Value) / 100)));
                            <span>@result</span>
                        }
                    </span>
                    <span class="badge badge-info m-1 p-1">Quantite: @cv.Quantite</span>
                    @foreach (var opt in cv.OptionCommandes)
                    {
                        <span class="badge badge-info m-1 p-1">@opt.Option.Description</span>
                    }

                </div>

            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Generer documents", "Finalise", new { id = Model.CommandeID }, new { @class = "btn btn-secondary" })
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



