﻿@model TP3_AFHBS.Models.Commande

@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

    </dl>
</div>

<hr />

<h3>Documents</h3>

<div id="bonCommPDF" class="m-3 border border-secondary">
    <div class="p-3">
        <h2>Bon de Commande</h2>

        <hr />

        <div>
            <h4>@Model.User.Nom</h4>
            <span>@Model.User.Email</span>
        </div>


        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Voiture
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Options
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Solde
                    </th>
                    <th>
                        Prix final
                    </th>
                </tr>
            </thead>

            @{
                int i = 0;
                decimal total = 0;
                <tbody>

                    @foreach (var cv in Model.CommadeVehicules)
                    {
                        i = i + 1;
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @cv.Vehicule.Marque @cv.Vehicule.Model
                            </td>
                            <td>
                                @cv.Quantite
                            </td>
                            <td>
                                @foreach (var opt in cv.OptionCommandes)
                                {
                                    <span class="badge badge-info m-1 p-1">@opt.Option.Description</span>
                                }
                            </td>
                            <td>
                                $@cv.Vehicule.PrixVente
                            </td>
                            <td>
                                @{
                                    var solde = cv.Vehicule.SoldePourcentage == null ? "" : cv.Vehicule.SoldePourcentage + "%";
                                    <span>@solde</span>
                                }
                            </td>
                            <td>
                                $@{
                                    var result = (cv.Vehicule.PrixVente * (cv.Vehicule.SoldePourcentage == null ? 1 : (100 - cv.Vehicule.SoldePourcentage.Value) / 100));
                                    total = total + result;
                                    <span>@String.Format("{0:0.00}", result)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>
                            Total:
                        </th>
                        <td>
                            $@String.Format("{0:0.00}", total)
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

@using (Html.BeginForm("PrintDOC", "Commandes", FormMethod.Post))
{
    <input type="hidden" name="BDCContent" />
    <input type="submit" value="Télécharger le document" class="btn btn-success" onclick="printBDC()" />
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommandeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    function printBDC() {
        console.log("printDoc");
        document.querySelector("input[name='BDCContent']").value = document.querySelector("#bonCommPDF").innerHTML;
        console.log(document.querySelector("input[name='BDCContent']").value);
    }
</script>
