﻿@model IEnumerable<TP3_AFHBS.Models.Commande>

@{
    ViewBag.Title = "Commandes";
}

<h2>Commandes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommandeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommandeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if ((string)Session[TP3_AFHBS.Models.SessionVariables.Type] == TP3_AFHBS.Models.UserTypes.Admin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommandeID }) <span>|</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.CommandeID })
            </td>
        </tr>
    }

</table>
