﻿body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Image of a vehicle in edit window*/
.vehicule-image-edit {
    max-width: 100%;
}

.card-img-tp {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

    .card-img-caption .card-img-top {
        z-index: 0;
    }

    .card-img-caption .card-text {
        text-align: center;
        position: absolute;
        z-index: 1;
        background-color: gray;
        opacity: 0.5;
    }

    .card-img-caption .caption-text {
        text-align: center;
        width: 100%;
        margin: 6vw 0;
        position: absolute;
        z-index: 2;
        color: white;
        font-weight: bold;
        font-size: 24px;
    }



.card-img-details {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    object-fit: contain;
}

.imgVehicule {
    height: 200px;
}

    .imgVehicule:hover {
        transition-duration: 1s;
        height: 250px;
        box-shadow: 5px 2px 4px 3px rgb(255, 106, 0);
    }